<div class="container">
    <div class="row">
      <div class="col">
        <a routerLink="/login">Cat 1</a>
      </div>
      <div class="col">
        <a routerLink="/login">Cat 2</a>
      </div>
      <div class="col">
        <a routerLink="/login">Cat 3</a>
      </div>
    </div>
  </div>

  <div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="assets\1.jpg" style="width:100%">
      
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="assets\2.jpg" style="width:100%">
      
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="assets\3.png" style="width:100%">
     
    </div>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
